

<!doctype html>
<title>Reporte Graduados Por Fechas</title>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/eggplant/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>



<script>
 $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '<Ant',
 nextText: 'Sig>',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'yy-mm-dd',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
$(function () {
$("#Fecha_Inicial").datepicker();
$("#Fecha_Final").datepicker();
});
</script>



{% block content %}
<html>

<head>
<meta charset="utf-8" />
</head><br/><br/>

 	
                       

					<form action="/consultas/" method="POST">
		 				{% csrf_token %}
		 				
		 				<table class="table table-bordered" >
      		 				<label for="Fecha_Inicial">Fecha_Inicial:
      		 			 		<input type='text' name='Fecha_Inicial' id='Fecha_Inicial' readonly /><br/>
 							
							</label><br/>

						<label for="Fecha_Final">Fecha_Final:
 							<input type='text' name='Fecha_Final' id='Fecha_Final' readonly />
						</label>
						<br/><br/>

 						<input type="submit" value="Enviar"> 
 					</form>
        		
    </table>
    	



</html>
{% endblock %}

    	
    	</div>